 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color:#f8f8f8;
  --text-color-primary:#13001d;
  --text-color-secondary:#CBD5E1;
  --text-color-tertiary:#ff69b4;
}

body {
  font-family: "Lato", sans-serif; /* define Lato como fonte padrão */
  line-height: 1.5; /* melhora a leitura dos textos */
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

img {
  max-width: 100%; /* impede imagens de ultrapassarem o elemento */
  height: auto; /* mantém a proporção */
}

.faixa {
  width: 100%;
  height: 100px;
  margin: 2px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--text-color-tertiary);
}

.faixa h2 {
  margin: 0;
  line-height: 1;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}